footer {
  border-radius: 10px;
  background-color: var(--background);
  box-shadow: var(--boxshadow-secondary);
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 1rem;
  flex-grow: 3;
  margin: 0.5rem 1rem;
  padding: 0.7rem 0 0.5rem 0;
  z-index: 100;
}

svg.not-active {
  fill: #7589a2;
}

svg.active {
  fill: #193251;
}
