.rating__block--content {
  margin: 5rem;
}
.rating__block--grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.journal-entry {
  display: flex;
  margin-bottom: 6rem;
  justify-content: space-around;
}