main {
  background-color: var(--background);
}

h1 {
  text-align: center;
}

.rate__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 40px;
  margin-bottom: 20px;
}

.rate__button--button {
  background-color: var(--danger-strong);
  color: var(--background);
  font-size: 1.1rem;
  position: absolute;
  width: 198px;
  height: 48px;
  left: 89px;
  top: 92px;
}

.rate__button--star {
  fill: none;
  stroke: var(--background);
  font-size: 18px;
  stroke-width: 2.2;
  position: absolute;
  left: 75.4%;
  right: 30.33%;
  top: 27%;
  bottom: 10.42%;
}

.rating__block--content {
  margin: 5rem;
}
.rating__block--grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
