.large-flexbox {
  display: flex;
  flex-direction: column;
  margin: 0 30px 23px 30px;
}
.large-flexbox__header {
  color: var(--primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 0;
  padding-top: 42px;
}
.dashboard__header {
  color: var(--primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin: 42px 30px 0 30px;
}
.small-flexbox {
  display: flex;
  flex-direction: column;
  margin: 20px 30px 20px 30px;
  position: relative;
}
.small-flexbox__plus {
  color: var(--primary);
  margin: 56px 147px 0 147px;
  z-index: 99;
  position: absolute;
}
.members {
  color: var(--secondary);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin: 0px;
  padding: 21px;
  text-align: center;
  width: 315px;
}
.m1 {
  border: var(--border-secondary);
  border-radius: 6px 6px 0 0;
}
.m5 {
  border: var(--border-secondary);
  border-radius: 0 0 6px 6px;
}
.m2,
.m3,
.m4 {
  border: var(--border-secondary);
}
