.largebox-grid {
  display: grid;
  grid-template-rows: repeat(12, 58px);
  margin: 0 30px 23px 30px;
}
.largebox__header {
  color: var(--primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  justify-self: start;
}
.smallbox-overall-grid {
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(5, 116px);
  margin: 33px 30px 22px 30px;
  justify-content: center; /* damit alle Boxen mittig sind */
}
.smallbox-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.smallbox-grid p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.smallbox__plus {
  color: var(--primary);
  height: 30px;
  margin: 0px 147px 0 147px;
  position: absolute;
  width: 21px;
}
.members {
  color: var(--secondary);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  /* height: 58px; */
  margin: 0px;
  text-align: center;
  width: 315px;
}
.m1 {
  border: var(--border-secondary);
  border-radius: 6px 6px 0 0;
}
.m5 {
  border: var(--border-secondary);
  border-radius: 0 0 6px 6px;
}
.m2,
.m3,
.m4 {
  border: var(--border-secondary);
}
